# LaTeX compilation files
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.out
*.dvi
*.lof
*.lot
*.gz
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.ilg
*.ind
*.idx
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.nlo
*.nls
*.out
*.snm
*.synctex.gz
*.tdo
*.vrb
*.xdy

# My images folder
Images/
*.png
*.jpeg